# created by virtualenv automatically
.idea
Lib
Scripts
share
pyvenv.cfg
.venv
__pycache__
api-key.yaml

03_computer_vision/03_detection_models/detection_RF_DETR/rf-detr-base.pth
03_computer_vision/classification_yoloV12/yolo12n.pt
03_computer_vision/01_architectures/02_convolutional_neuronal_network/data
03_computer_vision/01_architectures/03_LeNet/data
03_computer_vision/01_architectures/04_AlexNet/data
06_ml_systems/chatbot_application/chat_history.db
