# created by virtualenv automatically
.idea
Lib
Scripts
share
pyvenv.cfg
.venv
__pycache__
api-key.yaml

03_computer_vision/detection_RF_DETR/rf-detr-base.pth
03_computer_vision/classification_yoloV12/yolo12n.pt
06_ml_systems/chatbot_application/chat_history.db