darts==0.30.0
idx2numpy==1.2.3
keras~=3.11.2
matplotlib~=3.10.5
nixtla~=0.6.6
nnfs==0.5.1
numpy~=2.2.6
openai~=1.99.9
pandas~=2.3.1
PyYAML~=6.0.2
scikit_learn~=1.7.1
tensorflow~=2.20.0
tensorflow_intel==2.15.0
torch~=2.8.0+cu128
pypdf~=6.0.0
transformers~=4.55.4
sentence-transformers~=5.1.0
requests~=2.32.4
timm~=1.0.19
pillow~=11.3.0
supervision~=0.26.1
rfdetr~=1.2.1
ultralytics~=8.3.188
tensorflow-datasets~=4.9.9
langgraph~=1.0.2
langchain~=0.3.27
langchain-core~=1.0.3
langchain-docling~=2.0.0
langchain-community~=0.3.27
easyocr~=1.7.2
openpyxl~=3.1.5
